<% layout('layout') %>
<h1><%= title %></h1>
<p>Welcome to the Express TypeScript Starter template.</p>
<p>Use the CLI generator to scaffold new modules quickly:</p>
<pre><code>npm run make:module -- --name User --fields "name:string,email:string"
</code></pre>











